* {
    margin: 0;
    padding: 0;
    /* scroll-padding-top: 2rem;
    scroll-behavior: smooth; */
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section {
    padding: 4rem 0 3rem;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    background: rgb(208, 255, 204);
    padding: 0px 20px 0px 20px;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.title {
    font-size: 1.1rem;
    color: black;
    font-weight: 400;
}

.title:hover {
    text-decoration: none;
    color: rgb(0, 167, 14);
}

.cart{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
}

.cart-qty{
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 800;
    color: #fff;
    background-color:red;
    border-radius: 50%;
    text-align: center;
    top: 0;
    right: 0;
    cursor: default;

}

.cart:hover #cart-icon {
    position: relative;
    color: rgb(0, 167, 14);
}

.shop {
    margin-top: 2rem;
}

.form-group {
    width: 20%;
}

.form-group label {
    font-weight: 500;
}

.product_list {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(220px, auto)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}

.products {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.315);
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
}

.products:hover {
    padding: 20px;
    border: 2px solid rgb(0, 167, 14);
    transition: 0.1s;
    border-radius: 8px;
}

.product_img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product_title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;
}

.add-cart {
    font-size: 1.3rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.103);
    color: black;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px 0px 0px 0px;
}

.add-cart:hover {
    background: rgb(146, 146, 146);
}

/* .modal-body .modal-tr td{
    padding-left: 50px;
} */

.modal-img {
    width: 75px;
    height: 75px;
}

